<!DOCTYPE html>
<html>
<head>
  <title>GLBRC Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="InteractiveModal">

<%= render 'partials/navigation' %>
   <div class="container main-body">
<%= yield %>
    </div> <!-- /container -->
<%= render 'partials/modal' %>
</body>
</html>
